<div class="home-page">
    <div class="chats-list">
        <h1 class="margin-btm">Messages</h1>
        <div class="input-container data-mdb-toggle="dropdown"">
            <div class="left-input-icon"><i class="fa-solid fa-magnifying-glass input-icon-color"></i></div>
            <input type="text" class="form-control input-with-left-icon"  placeholder="Search by email address" name="searchText" onkeyup="fetchUsers(event)">
        </div>
        <ul class="hidden users-list" id="searchResults">
           
          </ul>
        <ul class="chats-container">
            <% chats.forEach(item => { %>
                <li id="list-item" onclick="chatClicked(<%=item.id%>,'<%=item.reciever.firstName%>','<%=item.reciever.lastName%>')">
                    <div class="chat-item">
                      <%= item.reciever.firstName %> <%= item.reciever.lastName %>
                    </div>
                </li>
           <% }) %>  
        </ul>
    </div>
    <div class="chat-content">
        <div class="chat-header">
            <div id="chatHeaderContainer">
                
            </div>
        </div>
        <div class="chat-container">
            <ul id="messages"></ul>
            <form id="form" method="POST">
              <input id="input" name="content" autocomplete="off"/>
              <input type="submit" value="Send">
            </form>
        </div>
    </div>
</div>

